body {
    /* Remove white space on edge of page. */
    margin: 0;
    font-family: Roboto, monospace, Arial;
}

.info {
    padding: 0 15% 5em;
}

.header {
    background-color: #1F2937;
    padding: 1em 10% 5em;
}

.left-container h2,
.header .logo,
button {
    color: #F9FAF8;
}

.info h3 {
    /* Remove h3 default margins. */
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.left-container h2 {
    /* Remove h2 default margins.  */
    margin: 0;
    font-size: 48px;
    font-weight: 800;
}

.header .logo {
    font-size: 24px;
    font-weight: 800;
}

/* Remove default ul styling. */
.header .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Remove default underline on a styling. */
.header .links a {
    text-decoration: none;
}

.left-container p,
.header .links a {
    font-size: 18px;
    color: #E5E7EB;
}

/* Form elements don't inherit font settings. */
button {
    background-color: #3882F6;
    /* Inherit font from body. */
    font-family: inherit;
    padding: 10px;
    border-radius: 10px;
    border: none;
    min-width: 125px;
    font-size: 18px;
    font-weight: 800;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header-top {
    margin-bottom: 5em;
}

/* Style bottom section of hero content. */
.header-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-bottom .left-container {
    flex-basis: 48%;
}

.header-bottom .right-container {
    flex-basis: 48%;
}

.right-container {
    display: flex;
    justify-content: flex-end;
}

.right-container img{
    max-width: 100%;
    height: auto;
}

.right-container figcaption, .right-container a{
    color: white;
}

.info-text {
    font-size: 18px;
}

.info img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
}

.info-item-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.info-item {
    text-align: center;
    /* Make image text same width of image */
    max-width: min-content;
}

.quote {
    background-color: #E5E7EB;
    padding: 5em 15%;
}

.quote q {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    /* Remove quotation marks. */
    quotes: none;
}

.right-container figure{
    margin:0;
}

.quote figcaption{
    text-align: right;
    font-weight: 700;
}

.call-to-action{
    padding: 5em 10%;
}

.sign-up{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 3em 5%;
}

.call-to-action button{
    border: 2px solid white;
}

.sign-up-info p, .right-container figcaption p{
    margin: 0;
    color: white;
}

.sign-up-info p{
    font-size: 18px;
}

p.p-bold{
    font-weight: 700;
    font-size: 20px;
}

.sign-up{
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: center;;
    background-color: #1F2937;
    color: white; 
    padding: 2em 0;
}